::selection {
	color: #fff; 
	background: $primary-color;
}

* {
	@include placeholder {
		color: #666;
		opacity: 1;
	}
}

body {
	font-size: 16px;
	min-width: 320px;
	color: #000;
	position: relative;
	line-height: 1.5;
	font-family: $font;
	overflow-x: hidden;
}
