::selection {
	color: #fff;
	background: $primary-color;
}

* {
	@include placeholder {
		color: #666;
		opacity: 1;
	}
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 320px;
	color: #000;
	font-size: 16px;
	line-height: 1.5;
	font-family: $font-family;
}

a {
	color: $primary-color;
}
