.post {
	display: flex;
	flex-direction: column;
	margin: 0 auto 20px;
	min-height: 200px;
	background-color: #fff;
	border: 1px solid #f2f2f2;

	&:last-child {
		margin-bottom: 0;
	}

	@include media-breakpoint-up(lg) {
		flex-direction: row;
	}

	&__img-link {
		position: relative;
		height: 100px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		overflow: hidden;

		@include media-breakpoint-up(lg) {
			width: 300px;
			height: auto;
		}
	}

	&__img {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	&__meta {
		padding: 1.5rem;
	}

	&__title {
		margin-bottom: 0;

		&:hover {
			text-decoration: none;
		}
	}

	&__author {
		font-size: 0.875rem;
		color: rgba(#000, 0.5);
	}

	&__excerpt {
		margin-bottom: 0;
	}
}
