{% extends "views/layouts/default.twig" %}
{% block title %}
  <title>Home | {{title}}</title>
{% endblock %}

{% block content %}
  {% include "components/sections/demo-section/demo-section.twig" %}
{% endblock %}