{% extends "views/layouts/default.twig" %}
{% block title %}
  <title>Typography | {{title}}</title>
{% endblock %}

{% block content %}
  {% include "components/sections/typo-section/typo-section.twig" %}
{% endblock %}