<div class="main">
  <picture class="main_img">
    <source class="img-responsive" srcset="/assets/img/pic_webp.webp" type="image/webp"/>
    <img alt="" class="img-responsive" src="/assets/img/pic_webp.png"/>
  </picture>
  <div class="main_text">
    <p>Чтобы начать работу, отредактируйте файл<code>src/views/index.pug</code>и сохраните, чтобы увидеть изменения в браузере</p>
  </div>
</div>