.footer {
	background-color: $dark;
	color: #fff;
	min-width: 100px;
	padding-top: 15px;
	padding-bottom: 15px;

	&__container {
		display: flex;
		align-items: center;
	}

	&__text {
		margin-right: auto;
	}

	&__link {
		padding: 0.5rem 0.75rem;
	}
}
