<header class="header layout__header">
  <div class="header__container container">
    <svg class="header__logo">
      <use xlink:href="./assets/img/sprite.svg#svg-logo">
      </use>
    </svg>
    <p>Header</p>
  </div>
</header>