<header class="header layout__header">
  <div class="header__container container">
    <a href="/" class="header__logo">
      <svg class="header__logo-img">
        <use xlink:href="./assets/img/sprite.svg#svg-logo"></use>
      </svg>
    </a>
    <p>Header</p>
  </div>
</header>