<div class="banner">
  <div class="banner__text">
    <p>Чтобы начать работу, отредактируйте файл<code>src/views/pages/index.twig</code>и сохраните, чтобы увидеть изменения в браузере</p>
  </div>

  <picture class="banner__img">
    {# <source class="img-fluid" srcset="./assets/img/preview_webp.webp" type="image/webp" /> #}
    <img alt="" class="img-fluid" src="./assets/img/preview_webp.jpg" />
  </picture>
</div>