<div class="banner">
  <picture class="banner_img">
    <source class="img-responsive" srcset="/assets/img/preview_webp.webp" type="image/webp"/>
    <img alt="" class="img-responsive" src="/assets/img/preview_webp.jpg"/>
  </picture>
  <div class="banner_text">
    <p>Чтобы начать работу, отредактируйте файл<code>src/views/index.pug</code>и сохраните, чтобы увидеть изменения в браузере</p>
  </div>
</div>