<div class="toc">
  <div class="toc__content">
    <ol>
      <li>
        <a href="#toc-1">First level caption</a>
      </li>
      <li>
        <a href="#toc-2">Second level caption</a>
        <ul>
          <li><a href="#toc-2-1">Internal item 1</a></li>
          <li><a href="#toc-2-2">Internal item 2</a></li>
        </ul>
      </li>
      <li>
        <a href="#toc-3">Third level caption</a>
        <ol>
          <li><a href="#toc-3-1">Internal item 1</a></li>
          <li><a href="#toc-3-2">Internal item 2</a></li>
        </ol>
      </li>
      <li>
        <a href="#toc-4">4th level caption</a>
      </li>
      <li>
        <a href="#toc-5">5th level caption</a>
      </li>
    </ol>
  </div>
</div>
