<div class="toc">
  <div class="toc__content">
    <ol>
      <li><a href="#">Item one</a></li>
      <li><a href="#">Item two</a></li>
      <li><a href="#">Item three</a></li>
      <li>
        <a href="#">Item four</a>
        <ol>
          <li><a href="#">Inner item 1</a></li>
          <li><a href="#">Inner item 2</a></li>
        </ol>
      </li>
      <li>
        <a href="#">Item five</a>
        <ul>
          <li><a href="#">Inner item 1</a></li>
          <li><a href="#">Inner item 2</a></li>
        </ul>
      </li>
    </ol>
  </div>
</div>