<div class="toc">
  <div class="toc__content">
    <ol>
      <li>
        <a href="#toc-1">Заголовок первого уровня</a>
      </li>
      <li>
        <a href="#toc-2">Заголовок второго уровня</a>
        <ul>
          <li><a href="#toc-2-1">Внутренний пункт 1</a></li>
          <li><a href="#toc-2-2">Внутренний пункт 2</a></li>
        </ul>
      </li>
      <li>
        <a href="#toc-3">Заголовок третьего уровня</a>
        <ol>
          <li><a href="#toc-3-1">Внутренний пункт 1</a></li>
          <li><a href="#toc-3-2">Внутренний пункт 2</a></li>
        </ol>
      </li>
      <li>
        <a href="#toc-4">Заголовок 4 уровня</a>
      </li>
      <li>
        <a href="#toc-5">Заголовок 5 уровня</a>
      </li>
    </ol>
  </div>
</div>
