.footer {
	background-color: $dark-background;
	color: #ffffff;
	min-width: 100px;
	padding-top: 15px;
	padding-bottom: 15px;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
