{% import "../utils/macro.htm" as macro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "../includes/head.htm" %}

    {% block title %}
      <title>{{title}}</title>
    {% endblock %}

    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="layout">
      {% include "components/layout/header/header.htm" %}

      <main class="layout__main">
        {# You write code for this content block in another file #}
        {% block content %}{% endblock %}
      </main>

      {% include "components/layout/footer/footer.htm" %}
    </div>

    {% include "../includes/scripts.htm" %}
  </body>
</html>