{% import "../utils/macro.njk" as macro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "../includes/head.njk" %}

    {% block title %}
      <title>Nunjack's starter</title>
    {% endblock %}

    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="layout">
      {% include "components/layout/header/header.njk" %}

      <main class="layout__main">
        {# You write code for this content block in another file #}
        {% block content %}{% endblock %}
      </main>

      {% include "components/layout/footer/footer.njk" %}
    </div>

    {% include "../includes/scripts.njk" %}
  </body>
</html>